<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
"http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <!--
    Servlet d'initialisation appelée automatiquement pour initialiser l'application.
    La valeur de "load-on-startup" correspond au numéro de lancement : ici c'est la
    première et l'unique servlet à être lancée.
  -->
  <servlet>
      <servlet-name>initAppli</servlet-name>
      <servlet-class>shark.InitServlet</servlet-class>
      <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>Afficheur</servlet-name>
    <servlet-class>Vues.Afficheur</servlet-class>
    <init-param>
      <param-name>urlSessionValide</param-name>
      <param-value>/valide.jsp</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>Afficheur</servlet-name>
    <url-pattern>/Afficheur</url-pattern>
  </servlet-mapping>


<servlet>
<servlet-name>Afficheur2</servlet-name>
<servlet-class>Vues.Afficheur2</servlet-class>
<init-param>
<param-name>urlSessionValide</param-name>
<param-value>/valide.jsp</param-value>
</init-param>
</servlet>
<servlet-mapping>
<servlet-name>Afficheur2</servlet-name>
<url-pattern>/Afficheur2</url-pattern>
</servlet-mapping>

</web-app>